
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;

}
/* Position of navigation bar */
.nav {
    position: fixed;
    width: 100%;
}
/* List present in nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(153, 28, 255);
}

li {
    display: inline;
}
/* Home, about, contact css */
.anc {
    float: left;
    display: block;
    color: white;
    font-size: 23px;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
}
/* login tAG */
#login {
    float: right;
    margin: 15px 21px;
    padding: 0px;
    color: black;
    background-color: rgb(180 220 255);
    color: #c1004a;
    font-size: 25px;
    border: 1px solid #8c0f0f;
}
/* Sign up */
#sign {
    float: right;
    margin: 15px 21px;
    padding: 0px;
    color: black;
    background-color: rgb(180 220 255);
    color: #0700c1;
    font-size: 25px;
    border: 1px solid #333;
}

/* Collection of bands */
#header1 {
    background-color: #9e009e;
    color: rgb(220, 94, 94);
    text-align: center;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    font-size: 20px;
    text-shadow: 3px 3px rgb(216, 134, 202);
}

#header2 {
    width: 100%;
    padding-top: 10px;
    background-color: #6c008d;
    border-radius: 10px;
    color: rgb(248, 101, 101);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    text-shadow: 3px 3px rgb(97, 60, 113);
}

li a:hover {
    background-color: #111;
    color: rgb(237, 129, 129);
}

#band-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
}

.band1 {
    background-color: #7835fd;
    color: #c6c4ff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    gap: 15px;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid rgb(210, 4, 4);
    box-shadow: 10px 10px 0px 5px #bd38ff;
}

.band {
    background-color: #d118d1;
    border: 1px solid #ff8d8d;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    max-width: 280px;
    box-shadow: 10px 10px rgba(113, 41, 229, 0.87);
    /* box-shadow: -10px -10px rgb(169, 243, 240); */
}
.band img {
    max-width: 100%;
}

#Contact {
    text-align: center;
    font-size: 40px;
    background-color: rgb(69, 44, 44);
    border: 1px solid rgb(240, 104, 104);
    color: rgb(191, 131, 116);
    margin-top: 20px;
    padding-top:20px;
    padding-bottom: 40px;
    font-weight: bold;
    text-shadow: 3px 3px rgb(67, 108, 120);
}
#heading2{
    padding-top:20px;
}

